[contentEditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
  color: #999;
  cursor: text;
  user-select: true;
  word-break: break-word;
}

:local(.editor) {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #fff;
  border-bottom: 1px solid rgba(100, 100, 100, .5);
}

:local(.content-space) {
    min-height: 800px;
    margin-left: 3%;
    width:100%;
    font-size: 1.2em;
    margin-top: 2%;
}

:local(.title-space) {
  margin-top: 3%;
  margin-left: 3%;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  color: #D0826F;
}